body
{
  background-color:#1ff253;
  padding-bottom: 40px;
}

.text
{
  font-size: 100px;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  font-family: helvetica;
}

  .albums
{
  width:100%;
  min-height:100%;
  text-align: center;
}

.container
{
  width:100%;
  max-width:90%;
  margin: 0 auto;
  position: relative;
  background-color: #1ff253;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.fleximage
{
  height:auto;
  width:500px;
  align-self:center;
  padding:10px;
  flex-basis:25%;
  top:10px;
  border:2px solid white;
  margin:15px;
  max-width: 350px;
}


@media (max-width: 800px)
{
  .container
  {
    flex-direction: column;
  }

  .fleximage
  {
    width:280px;
  }
}
