/**  ==========================================================================

This is where your custom styles begin.

==========================================================================  */
@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Regular.woff2") format('woff2'), /* Pretty Modern Browsers */
       url("../fonts/Aileron-Regular.woff") format('woff');/* Super Modern Browsers */
}

@font-face {
  font-family: 'Aileron BlackItalic';
  src: url("../fonts/Aileron-BlackItalic.woff2") format('woff2'), /* Pretty Modern Browsers */
       url("../fonts/Aileron-BlackItalic.woff") format('woff');/* Super Modern Browsers */
}

@font-face {
  font-family: 'Aileron BlackItalic';
  src: url("../fonts/Aileron-BlackItalic.woff2") format('woff2'), /* Pretty Modern Browsers */
       url("../fonts/Aileron-BlackItalic.woff") format('woff');/* Super Modern Browsers */
}

@font-face {
  font-family: 'Aileron Bold';
  src: url("../fonts/Aileron-Bold.woff2") format('woff2'), /* Pretty Modern Browsers */
       url("../fonts/Aileron-Bold.woff") format('woff');/* Super Modern Browsers */
}

a
{
  text-decoration: none;
  color:#DD7CCB;
}
body
{
    background-color:black;
    height:515px;
}

.logo
{
  position: fixed;
  width:1400px;
  left:150px;
  top:200px;
}

.title
{
  text-align: center;
  position:absolute;
  top:180px;
  font-size: 550px;
  background: -webkit-linear-gradient(-80deg, #81FF00 36%, #FFEB00 61%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: (-80deg, black 36%, #FFEB00 81%);
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
  right:210px;

}

.navigation
{
  color:#DD7CCB;
  font-size: 15px;
  font-family: Aileron;
  display: inline;
  text-align: center;
}

#thingsivemade:hover
{
  font-family: 'Aileron BlackItalic'
}

#thingsivemade
{
  position:fixed;
  top:58px;
  left:1032px;
  width:250px;
}

#whoami:hover
{
  font-family: 'Aileron BlackItalic'
}

#whoami
{
  position:fixed;
  top:58px;
  left:1232px;
  width:300px;
}

#hitmyline:hover
{
  font-family: 'Aileron BlackItalic'
}

#hitmyline
{
  position:fixed;
  top:58px;
  left:1413px;
  width:300px;
}

#home:hover
{
  font-family: 'Aileron BlackItalic'
}

#home
{
  position:fixed;
  width:300px;
  left:1450px;
  top:155px;
  transform: rotate(90deg);
}

.buttonblack
{
  position: fixed;
  bottom:63px;
  left:25px;
  background-color: black;
  border: 2px #F1ED00 solid;
  height: 25px;
  width: 25px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin: 4px 2px;
}

.buttonpink
{
  position: fixed;
  bottom:96px;
  left:25px;
  background-color: #FF69C9;
   border: 2px #F1ED00 solid;
   height: 25px;
   width: 25px;
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
   margin: 4px 2px;
}

.buttonwhite
{
  position: fixed;
  bottom:30px;
  left:25px;
  background-color: #ffffff;
   border: 2px #F1ED00 solid;
   height: 25px;
   width: 25px;
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
   margin: 4px 2px;
}

.middletext
{
  color:white;
  font-family: Aileron;
  font-size: 15px;
  position: relative;
  top:400px;
  text-align: center;
}

.projecttext
{
  font-family: helvetica;
  background: -webkit-linear-gradient(-80deg, #81FF00 26%, #FFEB00 61%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2.5px transparent;
  text-align: center;
}

.projecttext:hover
{
  background: -webkit-linear-gradient(#81FF00, #FFEB00);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#A
{
  font-family: amador;
  background: -webkit-linear-gradient(-80deg, #81FF00 26%, #FFEB00 61%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
  position: relative;
  font-size: 128px;
  text-align: center;
  top:160px;
  left: 760px;
}

#A:hover
{

}

#abouttext
{
  background: -webkit-linear-gradient(#81FF00, #FFEB00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-family: Aileron;
  font-size: 13px;
  text-align: justify;
  width:150px;
  top:180px;
  left: 730px;
}

#expression
{
  font-size: 35px;
  position: fixed;
  top:200px;
  left:200px;
}

#pov
{
  font-size: 35px;
  position: fixed;
  bottom:100px;
  left:500px;
}
#p3
{
  font-size: 35px;
  position: fixed;
  top:400px;
  right:300px;
}

#contact
{
  position: absolute;
  left:102px;
  top:321px;
  height:260px;
}

#email
{
  color: white;
  font-size: 18px;
  position:absolute;
  font-family: 'Aileron Bold';
  top:400px;
  right:139px;
}

#phone
{
  color: white;
  font-size: 18px;
  position:absolute;
  font-family: 'Aileron Bold';
  top:430px;
  right: 139px;
}

.icons
{
position: absolute;
bottom: 350px;
}

#facebook
{
  right: 290px;
}

#facebook:hover
{

}

#instagram
{
  right: 190px;
}

#instagram:hover
{

}

#linkedin
{
  right: 140px;
}

#linkedin:hover
{

}

#twitter
{
  right: 240px;
}

#twitter:hover
{

}

@media (max-width: 800px)
{
  .logo
  {
    width:400px;
  }

}
